.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
    color: var(--black-txt-cl);
    
            @media screen and (min-width: 768px) {
                margin-right: 88px;
            }
    
            @media screen and (min-width: 1200px) {
                margin-right: 93px;
            }
        
}

.logo-part {
    color: var(--accent-txt-cl);
}
.header-logo-link {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.footer-logo {
    font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        text-decoration: none;
    display: block;
    margin-bottom: 20px;
    text-align: center;
@media screen and (min-width: 1200px) {
        text-align: start;
    }

}

.footer-logo-part {
    color: var(--second-txt-cl);
}