.client-title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width:1200px) {
        font-size: 36px;
            line-height: calc(42/36);}
}

.client-list {
    display: flex;
    gap: 30px;
    --items: 2;

@media screen and (min-width:768px) {
    --items: 3;}

    @media screen and (min-width:1200px) {
            --items: 6; }

}

.client-item {
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-grip-cl);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--bg-grip-cl);
    transition: color var(--animation), border var(--animation);

    &:hover,
        &:focus {
            color: var(--accent-txt-cl);
            border: 1px solid var(--accent-txt-cl);
        }
}

.client-icon {
    fill: currentColor;
}