.footer {
  background-color: var(--accent-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {


  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
    justify-content: space-between
  }
}
.footer-box {
    margin-bottom: 60px;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

         @media screen and (min-width: 1200px) {
             display: flex;
             gap: 70px;
             margin-bottom: 0;
         }
}

.footer-box-contact {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
}


.footer-contact {
  font-style: normal;
  text-decoration: none;
  line-height: calc(24 / 14);
  

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  

.footer-text {
  margin-bottom: 9px;
  line-height: calc(24 / 14);
  color: var(--second-txt-cl);
}

.footer-item {
  color: var(--footer-link-txt-cl);
&:not(:last-child) {
        margin-bottom: 8px;
    }
  }

}

.footer-container {

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}


.footer-container-socials{
    margin-left: auto;
    margin-right: auto;
}
.footer-label {
    display: block;
    max-width: 450px;
    height: 50px;
}
.footer-socials-text {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-txt-cl);
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width:1200px) {
    text-align: start;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--second-txt-cl);
  background-color: var(--footer-txt-second);
  transition: background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--accent-txt-cl);
  }
}

.footer-socials-icon {
  fill: currentColor;
}
