.hero {
    background-color: var(--accent-bg-cl);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-txt-cl);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}



.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--second-txt-cl);
    background-color: var(--accent-txt-cl);
    padding: 6px 22px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--animation);
    &:hover,
        &:focus {
            background-color: var(--bg-activ-btn);
        }
}